body {
    background-image: url("../images/background.png");
    font-family: 'PT Mono', monospace;
}

.jumbotron {
    background-color: #3A5AD8;
    color: whitesmoke;
    text-align: center;
}

#spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    background-color: #3A5AD8;
    color: whitesmoke;
}